.page-container {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {

    .page-container {
        padding: 15px;
        padding-top: 80px;
    }

}