.sidebar {
    padding: 10px;
    background-color: white;
    font-size: 16px;
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
    justify-items: center;
    box-shadow: 20px 0 40px -25px rgb(232,232, 239);
}

.sidebar-fixed {
    position: fixed;
    height: 100%;
    width: 15%;
}

.sidebar > div:last-child {
    align-self: flex-end;
    cursor: pointer;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs > a {
    padding: 10px 0;
    margin: 5px;
    text-decoration: none;
    color: rgb(153,153,189);
}

.tabs > .active {
    color: rgb(46,46,77);
    font-weight: 400;
}

.fa {
    margin-right: 10px;
}

.logout {
    color: rgb(234,34,40);
}

.hamburger {
    left: 10px;
    top: 10px;
    position: absolute;
    display: none;
    transition: transform 0.4s;
}

.hamburger > div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 4px;
    transition: all 0.4s;
}

@media screen and (max-width: 950px) {

    .sidebar-fixed {
        width: 0px;
        padding: 0px;
        transition: width 0.4s;
    }

    .sidebar-fixed div:not(.hamburger), .sidebar-fixed img {
        opacity: 0;
        transition: opacity 0.1s;
        pointer-events: none;
    }

    .hamburger {
        display: block;
    }

    .sidebar-fixed.open {
        width: 200px;
        padding: 10px;
        z-index: 102;
    }

    .sidebar-fixed.open div:not(.hamburger), .sidebar-fixed.open img {
        opacity: 1;
        transition: opacity 0.4s 0.2s;
        pointer-events: all;
    }

    .sidebar-fixed.open + .hamburger {
        transform: translateX(170px);
        z-index: 103;
    }

    .sidebar-fixed.open + .hamburger > div:first-child {
        transform: rotate(45deg)translate(2px, 6px);
        width: 15px;
    }

    .sidebar-fixed.open + .hamburger > div:nth-child(2) {
        transform: rotate(130deg)translate(2px,2px);
        width: 15px;
    }

    .sidebar-fixed.open + .hamburger > div:last-child {
        opacity: 0;
    }

}